.writing-space {
  width: 463px;
  max-width: 100%;
  height: 74px;
  border: 6px solid #097178;
  border-radius: 5px;
  background: transparent;
  z-index: 1;
  outline: none;
  padding: 20px;
  color: #dedddd;
  @media screen and (max-width: 570px)  {
    width: 306px;
    height: 68px;
    font-size: 16px;
  }
}

.writing-space_shadow {
  position: absolute;
  width: 480px;
  height: 90px;
  border: 10px solid #1b3e40;
  border-radius: 5px;
  @media screen and (max-width: 570px)  {
    width: 324px;
  }
}
.save-bg{
  position: absolute;
  margin-bottom: 168px;
  width: 80px;
  height: 39px;
  background: #212B2C;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  &.hidden{
    opacity: 0;
  }
}
.btnHtml{
  position: absolute;
  transform: translateX(200px);
  margin-bottom: 250px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: .3s;
  &:hover,&:disabled{
    opacity: .4;
  }
  @media screen and (max-width: 570px)  {
    transform: translateX(120px);
  }
}

.writing-space_shade {
  position: absolute;
  width: 500px;
  height: 110px;
  border: 10px solid #212B2C;
  border-radius: 15px;
  @media screen and (max-width: 570px)  {
    width: 344px;
  }
}
.message{
  position: absolute;
  margin-top: 200px;
  width: 460px;
  min-height: 85px;
  line-height: 44px;
  letter-spacing: 0.08em;
  overflow-wrap: break-word;
  font-style: italic;
  text-transform: lowercase;
  @media screen and (max-width: 570px)  {
    font-size: 22px;
    width: 322px;
  }
  span{
    font-size: 30px;
    font-weight: 700;
  }
}
.words-count{
  transform: translateX(200px);
  margin-bottom: 135px;
  margin-top: 0;
  min-width: 92px;
  min-height: 60px;
  width: 0;
}
.error{
  color: #840B0B;
}
