.writing-space {
  width: 463px;
  max-width: 100%;
  height: 74px;
  border: 6px solid #097178;
  border-radius: 5px;
  background: transparent;
  z-index: 1;
  outline: none;
  padding: 20px;
  @media screen and (max-width: 570px)  {
    width: 306px;
    height: 68px;
    font-size: 16px;
  }
}

.writing-space_shadow {
  position: absolute;
  width: 480px;
  height: 90px;
  border: 10px solid #1b3e40;
  border-radius: 5px;
  @media screen and (max-width: 570px)  {
    width: 324px;
  }
}
.btnHtml{
  position: absolute;
  transform: translateX(200px);
  margin-bottom: 190px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  transition: .3s;
  &:hover,&:disabled{
    opacity: .4;
  }
  @media screen and (max-width: 570px)  {
    transform: translateX(120px);
  }
}

.writing-space_shade {
  position: absolute;
  width: 500px;
  height: 110px;
  border: 10px solid #212B2C;
  border-radius: 15px;
  @media screen and (max-width: 570px)  {
    width: 344px;
  }
}
.translated{
  position: absolute;
  margin-top: 403px;
  width: 460px;
  min-height: 300px;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.08em;
  color: #618C8F;
  font-weight: 700;
  word-break: break-all;
  span{
    font-style: italic;
    text-transform: lowercase;
  }
  @media screen and (max-width: 570px)  {
    font-size: 24px;
    width: 322px;
  }
}
